.word-grid {
	height: 60%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.cell {
	padding: 0px;
}

.card {
	border: 1px solid black;
	border-radius: 5px;
	height: 19%;
	margin: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.word {
	margin: 0;
	font-size: 20;
	font-weight: bold;
}

#spymaster-code {
	font-family: "Times New Roman", Georgia, serif;
}

@media (max-width: 960px) {
	.word {
		font-size: 18;
	}
}
@media (max-width: 840px) {
	.word {
		font-size: 16;
	}
}
@media (max-width: 720px) {
	.word {
		font-size: 14;
	}
}

.covered .word { visibility: hidden; }
.covered:hover .word { visibility: visible; }

.revealed { background-color: #fc0; }
.revealed.spy-red, .start-team.spy-red { background-color: red; }
.revealed.spy-blue, .start-team.spy-blue { background-color: #39f; }
.revealed.spy-black { background-color: #999; }

/* Spymaster map styles */
.map {
	border: 1px solid black;
	border-radius: 50px;
	margin: 20px;
}
.start-team {
	border: 1px solid black;
	border-radius: 5px;
}
.start-team-top, .start-team-bottom {
	margin: auto;
	height: 20px;
	max-width: 100px;
}
.start-team-left, .start-team-right { 
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 19%;
	width: 20px
}
.start-team-top { margin-top: -35px; margin-bottom: 15px; }
.start-team-bottom { margin-top: 15px; margin-bottom: -35px; }