.word-grid {
	height: 60%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.cell {
	padding: 0px;
}

.card {
	border: 1px solid black;
	border-radius: 5px;
	height: 19%;
	margin: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.word {
	margin: 0;
	font-size: 20;
	font-weight: bold;
}

#spymaster-code {
	font-family: "Times New Roman", Georgia, serif;
}

@media (max-width: 960px) {
	.word {
		font-size: 18;
	}
}
@media (max-width: 840px) {
	.word {
		font-size: 16;
	}
}
@media (max-width: 720px) {
	.word {
		font-size: 14;
	}
}

.spoken { 
  background-color: #5cb85c;
  color: #fff;
}
