.word-grid {
	height: 80%;
	margin: 50px;
}

.cell {
	padding: 0px;
}

.card {
	border: 1px solid black;
	border-radius: 5px;
	height: 24%;
	margin: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.word {
	margin: 0;
	font-size: 20;
	font-weight: bold;
}

@media (max-width: 960px) {
	.word {
		font-size: 18;
	}
}
@media (max-width: 840px) {
	.word {
		font-size: 16;
	}
}
@media (max-width: 720px) {
	.word {
		font-size: 14;
	}
}

.spoken { 
  background-color: #5cb85c;
  color: #fff;
}

#video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
